{# Note that templates usually go in an app. #}
<h1>Welcome to the template_exercises project!</h1>
<p>
  This site is meant to represent a rough skeleton of a blog. We're
  going to write some views for this blog, with their corresponding
  templates.
</p>
<p>
  The following links correspond to exercises from the README.
</p>
<ul>
  <li>
    <a href="/blog">Exercise 1: blog main page</a>
  </li>
  <li>
    <a href="/blog/1">Exercise 2: a blog post</a>
  </li>
  <li>
    <a href="/blog/comments">Exercise 3: all comments</a>
  </li>
  <li>
    <a href="/blog/comments/2">Exercise 4: show a specific comment</a>
  </li>
</ul>
