{# Note that templates usually go in an app. #}
<h1>Welcome to the css_exercises project!</h1>
<p>
  This page just provides links to the pages from the last set of
  exercises, and corresponding links to the design.
</p>
<ul>
  <li>
    <a href="/blog">Blog main page.</a>
    <a href="/static/designs/list_posts.png">Design.</a>
  </li>
  <li>
    <a href="/blog/1">A blog post.</a>
    <a href="/static/designs/show_post.png">Design.</a>
  </li>
  <li>
    <a href="/blog/comments">All comments.</a>
    <a href="/static/designs/list_comments.png">Design.</a>
  </li>
  <li>
    <a href="/blog/comments/2">Show a specific comment.</a>
    <a href="/static/designs/show_comment.png">Design.</a>
  </li>
</ul>
